.nav-community{
  display: flex;
  flex-direction: column;
  margin: 25px 0px;
  width: auto;
}
.container-buttons-community{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  transition: border-bottom 0.3s;
  flex-wrap: wrap;
}

.buttons-community{
  background: none;
  border: none;
  outline: none;
  transition: border-bottom 0.3s;
  font-family: Agane;
  font-size: 16px;
  color: #000;
}
.tittle-community{
  font-family: Adigiana;
  font-size: 26px;
  color: #A44C04;
  text-align: center;
}
.buttons-community.selected {
  font-weight: bold;
  border-bottom: 2px solid #000000;
}