.menu{
  width: 100%;
  display: flex;
  justify-content: center;
}
.card-product{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
  gap:0.5rem; /* separacion entre imagen y texto */
}
/* aca la descripcion en una letra mas clara*/
.detalle{
  color: #606060;
}

.card-product img{
  width: 130px;
  height: 130px;
  object-fit: cover;
}
.card-product div{
width: 100%;
}
.category {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #fff; /* Ajusta el color de fondo según tus preferencias */
  padding: 10px;
}
.category li{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category li button{
  width: 100%;
  white-space: nowrap;
  background: none;
  border: none;
}
.slick-slide {
  padding: 0 10px; /* Ajusta el espacio entre los botones de categoría según tus necesidades */
}
.container-menu{
  
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container-menu h2{
  text-align: left;
  top: 100px;
}
.container-full{
  display: flex;
  justify-content: center;
  margin: 10px;
}
.container-full hr{
  width: 80%;
  align-self: center;
}

.container-slick{
  position: fixed;
  top: 60px; 
  width: 100%; 
  height: 50px;
  border-color: red;
}
/* ESTILOS PARA EL MODAL */
.modal{
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(32,32,32,0.5);
  top:0;
  margin:0;
}
.modal .close-modal{
  width: 40px;
  height: 40px;
  border:none;
  margin: 5px;
  background-color: #EC9139;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.modal-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.modal-container .modal-center{
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding-bottom: 1rem;
}

.modal-center img{
  border-radius: 15px;
  width: 100%;
}
/* ESTILOS PARA LA BOTONERA */
.modal-center .buttons{
  display: flex;
  flex-direction: row;
  gap:0.5rem;
}
.modal-center .buttons button:not(.add){
  padding: 0.5rem;
  border:none;
  background-color: #EC9139;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.modal-center .buttons .add{
  width: 40px;
  font-size: 20px;
  background-color: transparent;
  border: none;
}
/* ESTILO PARA LOS ADICIONALES */
.modal-center .adicionales{
  display: flex;
  flex-direction: column;
  gap:0.5rem;
  width: 100%;
  padding: 0.5rem;
  /* border: 1px solid red; */
}
.modal-center .adicionales .adicional{
  display: flex;
  flex-direction: row;
  /* border: 1px solid blue; */
  justify-content: space-between;
  width: 100%;
}
.modal-center .adicionales .adicional div{
  display: flex;
  flex-direction: row;
  gap:0.5rem;
}

@media screen and (max-width: 450px) {
  .container-full{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}