.Item{
    width: 70%;
    /* border: 1px solid red; */
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.Item img{
    width: 100%;
}
.Item .info{
    /* align-items: center; */
    text-align: center;
    display: flex;
    flex-direction: column;
    /* gap:10px; */
}
.Item .info hr{
    width: 70%;
    margin:10px;
    align-self: center;
}
@media screen and (min-width: 400px) {
    .Item{
        width: 300px;
    }
}