.Item{
    width: 70%;
    /* border: 1px solid red; */
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.Item img{
    width: 100%;
}
.Item .info{
    /* align-items: center; */
    text-align: center;
    display: flex;
    flex-direction: column;
    /* gap:10px; */
}
.Item .info hr{
    width: 70%;
    margin:10px;
    align-self: center;
}
.cartItem{
    width: 70%;
    /* border: 1px solid red; */
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.cartItem img{
    width: 100px;
}
/* .cartItem .info{
    
} */


@media screen and (min-width: 400px) {
    .Item{
        width: 300px;
    }
    .cartItem{
        width: 300px;
    }
}