.text-cachitos{
  display: flex;
width: 147px;
height: 49px;
justify-content: center;
align-items: center;
flex-shrink: 0;
}

.button-home{
  display: flex;
width: 169px;
height: 36px;
justify-content: center;
align-items: center;
flex-shrink: 0;
background-color: #EC9139;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
border: none;
color: #fff;
}
.description-menu{
  text-align: center;
}
.home-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}