header {
  position: sticky;
  top: 0;
  z-index: 998;
}

aside {
  z-index: 999;
}

.nav-header {
  height: 60px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 60px;
  background-color: transparent;
  transition: width 0.3s ease-in-out;
  height: calc(100vh - 60px);
  padding: 10px;
}

.navbar.open {
  height: 100vh;
  width: 250px;
  background-color: #ec9139;
}

#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition-duration: .5s;
  background-color: transparent;
}

.bars {
  width: 100%;
  height: 4px;
  background-color: rgb(0,0,0);
  border-radius: 4px;
}

#bar2 {
  transition-duration: .8s;
}

#bar1, #bar3 {
  width: 70%;
}

#checkbox:checked + .toggle .bars {
  position: absolute;
  transition-duration: .5s;
}

#checkbox:checked + .toggle #bar2 {
  transform: scaleX(0);
  transition-duration: .5s;
}

#checkbox:checked + .toggle #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: .5s;
}

#checkbox:checked + .toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: .5s;
}

#checkbox:checked + .toggle {
  transition-duration: .5s;
  transform: rotate(180deg);
}

nav img {
  width: 70px;
}

.navbar-items {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.navbar-items li {
  padding: 10px;
  border-bottom: 1px solid #000;
}

.navbar-items li a {
  text-decoration: none;
  color: black;
}

.content {
  margin-left: 200px;
  padding: 20px;
}

.iconsNav {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 60px;
}

.icons {
  display: flex;
  margin-right: 10px;
  gap: 20px;
}

.search-dropdown {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: bottom 0.3s ease-in-out;
  z-index: 100;
}

.search-dropdown input[type="text"] {
  flex: 1;
  border: none;
background-color: transparent;
  width: 100%;
  padding-left: 10px;
  font-family: Agane;
  font-size: 16px;
}
.search-dropdown input[type="text"]:focus{
  outline: none;
}
.search-dropdown div button {
  width: 50px;
  border-radius: 40px;
  height: 90%;
  border: none;
  background-color: #ec9139;
margin: 2px;
}

.search-dropdown div button svg {
  margin: 2px;
}

.search-dropdown div {
  width: 100%;
  border-radius: 54px;
  border: 1px solid rgba(0, 46, 44, 0.70);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
}

@media (min-width: 650px) {
  .search-dropdown div{
    width: 50%;
  }
  .search-dropdown{
    justify-content: flex-end;
  }
}
