.Add{
    width: 100%;
    border: 1px solid green;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.Add button{
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
    text-align: center;
    border: none;
}
.Add span{
    width: 10%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}