.Navbar{
    display:flex;
    height: 10rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: aquamarine;
}
#menu{
    position: absolute;
    left: 1rem;
}
.Navbar img{
    position: absolute;
    right: 1rem;
    padding-top: 1rem;
    width: 200px;
}




/* @media screen and (max-width: 400px) {
    #menu
} */